# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ENV
venv/

# pycache and migration
backend/__pycache__/
groups/__pycache__/
events/__pycache__/
users/__pycache__/
api/__pycache__/
db.sqlite3