.profile {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 47px auto;
  max-width: 404px;
}

.profile__about-me {
  min-height: 140px;
  width: 100%;
  background-color: var(--frame-color);
  mask: url(../../images/profile/profileMask.png);
  mask-position: center;
  mask-size: 100% 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: -28px auto 0;
}

.profile__photo-container {
  margin: 0 auto;
  width: 18%;
  background-color: var(--frame-color);
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__photo-container:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.profile__photo {
  margin: auto;
  max-width: 112px;
  max-height: 56px;
  margin: 0 auto;
  background-size: cover;
}

.profile__name {
  font-size: 20px;
  line-height: 20px;
  margin: 35px auto 0;
  max-width: 95%;
}

.profile__my-description {
  margin: 12px auto;
  width: 95%;
}

.group__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px auto 0;
}

.group-list__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  min-height: 0px;
  max-height: 0px;
  overflow-y: auto;
}

.group-list__container_active {
  min-height: 100px;
  max-height: 300px;
  animation: 0.3s forwards appearance;
}

.group-list__container_inactive {
  animation: 0.3s forwards disappearance;
}

.group-list__item-input {
  display: none;

  &:checked + label {
    background-color: var(--accent-hover-color);
    color: var(--text-accent-color);
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.group-list__item-label {
  display: flex;
  width: 88%;
  align-items: center;
  flex-shrink: 0;
  margin: 5px auto;
  height: 60px;
  padding: 0 16px;
  background-color: var(--frame-color);
  border-radius: 12px;
  transition: all 0.2s ease-out;

  cursor: pointer;

  /* & + input + & {
    border-top: 1px solid #c7ccd160;
  } */
}

.group-list__item-label:hover {
  box-shadow: 0px 0px 0px 2px var(--accent-hover-color);
  color: var(--accent-hover-color);
  background-color: #fff;
}

@keyframes appearance {
  from {
    min-height: 0;
    max-height: 0;
  }

  to {
    min-height: 100px;
    max-height: 300px;
  }
}

@keyframes disappearance {
  from {
    min-height: 100px;
    max-height: 300px;
  }

  to {
    min-height: 0;
    max-height: 0;
  }
}
