.event-list {
  background-color: var(--frame-color);
  padding: 12px 8px;
  border-radius: 12px;
  max-height: 137px;
  width: 100%;
  box-sizing: border-box;
}

.event-list__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.event-list__link-title {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
}
