:root {
  --backbround-color: #fff;
  --background-overlay-color: rgba(0, 0, 0, 0.5);
  --frame-color: #d9d9d9;
  --frame-accent--unselected-color: #adadad;
  --frame-accent-selected-color: #696969;
  --text-color: #000;
  --accent-color: #6727ff;
  --accent-hover-color: #8247ff;
  --accent-hover-background-color: #fff;
  --text-accent-color: #fff;
  --text-error-color: #ff8181;
}

body {
  background-color: var(--backbround-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
